IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'AppSaleMobile')
    CREATE DATABASE AppSaleMobile;
GO
USE AppSaleMobile;
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[CompId] [varchar](10) NOT NULL,
	[CompName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[CustId] [varchar](10) NOT NULL,
	[Cust_Name] [nvarchar](100) NULL,
	[MobNumber] [varchar](15) NULL,
	[EmailId] [varchar](100) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Mobile]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Mobile](
	[IMEINO] [varchar](20) NOT NULL,
	[ModelId] [varchar](10) NULL,
	[Status] [nvarchar](50) NULL,
	[Warranty] [date] NULL,
	[Price] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMEINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Model]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Model](
	[ModelId] [varchar](10) NOT NULL,
	[CompId] [varchar](10) NULL,
	[ModelNum] [nvarchar](100) NULL,
	[AvailableQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Sales]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sales](
	[SlsId] [varchar](10) NOT NULL,
	[IMEINO] [varchar](20) NULL,
	[PurchaseDate] [date] NULL,
	[Price] [bigint] NULL,
	[CustId] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Transaction]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Transaction](
	[TransId] [varchar](10) NOT NULL,
	[ModelId] [varchar](10) NULL,
	[Quantity] [int] NULL,
	[Amount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 21/11/2025 10:23:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserName] [varchar](50) NOT NULL,
	[PWD] [varchar](100) NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[MobileNumber] [varchar](20) NULL,
	[Hint] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Model] ADD  DEFAULT ((0)) FOR [AvailableQty]
GO
ALTER TABLE [dbo].[tbl_Mobile]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[tbl_Model] ([ModelId])
GO
ALTER TABLE [dbo].[tbl_Model]  WITH CHECK ADD FOREIGN KEY([CompId])
REFERENCES [dbo].[tbl_Company] ([CompId])
GO
ALTER TABLE [dbo].[tbl_Sales]  WITH CHECK ADD FOREIGN KEY([CustId])
REFERENCES [dbo].[tbl_Customer] ([CustId])
GO
ALTER TABLE [dbo].[tbl_Sales]  WITH CHECK ADD FOREIGN KEY([IMEINO])
REFERENCES [dbo].[tbl_Mobile] ([IMEINO])
GO
ALTER TABLE [dbo].[tbl_Transaction]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[tbl_Model] ([ModelId])
GO
